@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinnerStyle:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 1.7rem;
  left: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 2px solid #fff;
  border-right: 2px solid transparent;
  animation: spinner 0.6s linear infinite;
}
